{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="text-center">{% translate 'Edit Review' %}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                {% if error %}
                  <div class="alert alert-danger mt-4" role="alert">
                    {{ error }}
                  </div>
                {% endif %}
                <input type="submit" value="Save Changes" class="btn btn-danger mt-4">
            </form>
        </div>
    </div>
</div>

{% endblock content %}